<div>
  <div class="col-lg-3 folder-view">
    <h2 class="quick-access">
      Quick Access
    </h2>

    <div class="list-group list-group-root well" id="quick-access-list">

    </div>
  </div>
  <div class="col-lg-9 folder-view">
    <h2 class="current-directory">
      <img height="25" src="../assets/folder-up.svg" alt="Folder_Up Icon" (click)="folderUp()">
        {{currentDirectoryName}}
      <img height="25" src="../assets/round-add-button.svg" class="plus-icon" alt="Folder_Add Icon" style="float: right;" data-toggle="modal" data-target="#myModal">
      <img height="25" src="../assets/delete-button.svg" class="delete-icon" (click)="deleteItems()" alt="Folder_Delete Icon" style="float: right;">
    </h2>

    <div *ngIf="showEmptyMessage;then emptyMessage else folderRows"></div>    
    <ng-template #emptyMessage>
        <div class="no-folders-msg" *ngIf="showEmptyMessage">
            <h4><img height="100" src="../assets/sad.svg" alt="Sad Emoticon" class="sad-emoji">You don't have any folders in this directory. Click on '+' icon to create one</h4>
        </div>
    </ng-template>
    <ng-template #folderRows>
        <div class="folders">
          <p>Double click on the folder name to open it!</p>
    
          <div *ngFor="let folder of currentFolders">
            <mat-checkbox [(ngModel)]="folder.isChecked"></mat-checkbox>
            <img height="35" src="../assets/folder.svg" class="folder" alt="Folder Icon">
            <button mat-button (dblclick)="folderOpen(folder)" style="text-align: left;">{{folder.text}}</button>
            <hr> 
          </div>
          
        </div>
    </ng-template>

    
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Folder</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="usr">Name:</label>
              <input type="text" class="form-control" id="usr" [(ngModel)]="folderName">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="createFolder()">Create</button>
        </div>
      </div>
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


